.header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid var(--badges);
  padding: 24px 64px;
  background: var(--inputs);
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
  list-style-type: none;
  margin: 0;
  margin-left: 450px;
}

.item {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  color: var(--main);
}
