.button {
  border: 1px solid var(--gray-light);
  border-radius: 200px;
  padding: 16px 30px;
  width: 145px;
  height: 56px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--main);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  margin: 40px auto 52px;
}

.button:hover,
.button:focus {
  border: 1px solid var(--button-hover);
}
