.main {
  display: flex;
  min-height: 100vh;
  width: 100%;
  max-width: 1440px;
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/public/picture.jpg);
  background-color: #2e2f42;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
}

.hero {
  padding-left: 64px;
  padding-top: 260px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main_title {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 48px;
  line-height: 0.67;
  color: var(--inputs);
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--inputs);
}

.button {
  border-radius: 200px;
  padding: 16px 48px;
  width: 173px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: 24px;
}

.button:hover,
.button:focus {
  background: var(--button-hover);
}
