.name_block {
  margin-bottom: 24px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 8px;
}

.name {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  color: var(--main);
}

.wrap {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
}

.rating {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.location_wrap {
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}
