.truck_item {
  border: 1px solid var(--gray-light);
  border-radius: 20px;
  padding: 24px;
  width: 888px;
  height: 368px;
  background: var(--white);
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.buttom {
  display: block;
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  background: var(--button);
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  color: var(--white);
  margin-top: 24px;
}

.button:hover,
.button:focus {
  background: var(--button-hover);
}
